[Bot Location]
# Path to module from runner
# Only need this if RLBot controlled
agent_module = saltie

[Participant Loadout]
# Name that will be displayed in game
name = SaltieRand
team_color_id = 27
custom_color_id = 0
car_id = 23
decal_id = 1435
wheels_id = 1728
boost_id = 69
antenna_id = 217
hat_id = 580
paint_finish_1_id = 1978
paint_finish_2_id = 1978
engine_audio_id = 0
trails_id = 1997
goal_explosion_id = 1905

[Model Configuration]
model_package = models.actor_critic.policy_gradient
model_name = PolicyGradient
num_layers = 5
batch_size = 1000
mini_batch_size = 1000
is_evaluating = False
exploration_factor = 500
