[Download Configuration]
download_files = False
# max_files = 40

[Optimizer Config]
should_apply_features = True

[Copy Configuration]
should_shuffle = True

[Misc Config]
control_scheme = regression_controls

[Model Configuration]
batch_size = 20000
mini_batch_size = 500
num_width = 256
#model_package = models.actor_critic.tutorial_model
model_package = models.actor_critic.policy_gradient
#model_name = TutorialModel
model_name = PolicyGradient
num_layers = 5
num_split_layers = 2
keep_probability = 0.7
